$primary-color: rgb(92, 5, 5);
$secondary-color: rgb(31, 31, 88);
$tertiary-color: greenyellow;

.main {
    margin: 2% 10%;
    padding: 2%;
    text-align: center;
    background-color: rgb(177, 187, 187);
}

h1 {
    margin: 2%;
    color: $secondary-color !important;
    text-align: center;
    font-size: 10vh;
    
}

.form-text {
    color: $primary-color !important;
}

div {
    label {
        color: rgb(238, 9, 9);
        font-size: x-large;
    }
}

.form-check-label {
    color: $secondary-color;
    font-size: large;
}

button, i {
    color: $secondary-color !important;
    background-color: $tertiary-color!important;
}

